/build
/wraps/_cache
src/*/obj
src/*/bin
src/*AssemblyInfo.cs
*.csproj.user
*ReSharper.user
_ReSharper*
*.ReSharper
*.suo
*.cache
* Thumbs.db
*.nupkg
src/Agress.Logic.Specs/Password.cs
src/Agress.WebDriver/Password.cs
packages/
credentials.txt
src/Agress.Mailer/app.config