<?xml version="1.0"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
	<system.net>
		<mailSettings>
			<smtp from="mail@domain.com">
				<network host="myserver.com"
						 port="467"
						 defaultCredentials="true"
						 enableSsl="true" />
			</smtp>
		</mailSettings>
	</system.net>
</configuration>
