<?xml version="1.0"?>
<configuration>
<startup>
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
</startup>
  <appSettings>
    <add key="Login.UserName" value="niklasdahlman" />
    <add key="Login.Client" value="WN" />
    <add key="Login.Password" value="xxx" />
    <add key="Agresso.Url" value="https://economy.waygroup.se/agresso/System/Login.aspx" />
  </appSettings>
</configuration>
