<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Agress.UI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <appSettings>
    <add key="Agresso.Url" value="https://economy.jayway.com/Agresso/System/Login.aspx?ReturnUrl=%2fAgresso%2fDefault.aspx" />
  </appSettings>
  <userSettings>
    <Agress.UI.Properties.Settings>
      <setting name="Login_Username" serializeAs="String">
        <value>niklasdahlman</value>
      </setting>
      <setting name="Login_Password" serializeAs="String">
        <value>topSecret</value>
      </setting>
      <setting name="Login_Client" serializeAs="String">
        <value>DS</value>
      </setting>
      <setting name="Login_Url" serializeAs="String">
        <value>https://economy.jayway.com/Agresso/System/Login.aspx?ReturnUrl=%2fAgresso%2fDefault.aspx</value>
      </setting>
    </Agress.UI.Properties.Settings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="RabbitMQ.Client" publicKeyToken="89e7d7c5feba84ce" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.1.0" newVersion="2.6.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>